body {
    background-color: #ebecf0;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.reciept-container {
    background-color: #f5faff;
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.reciept-header {
    height: 50px;
    display: flex;
}

.brang-logo {
    width: 100px;
    background-color: rgb(6, 6, 6);
    border-radius: 450px 50px;
}

.brand-heading {
    color: #738fc6;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 10px;
}

.dte {
    text-align: right;
    margin-left: auto;
    color: #738fc6;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}

.brand-address {
    margin-top: 40px;
    text-align: right;
    font-weight: 100;
    border-bottom: #738fc6 solid 1px;
}

.reciept-body h3 {
    text-align: center;
    color: #738fc6;
    margin-bottom: 50px;

}


.border {
    border-bottom: #738fc6 dashed 1px;
    display: block;
    width: 50%;
    margin-left: 85px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 80px;
}



table {
    width: 1000px;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px 20px 30px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

thead {
    background-color: #d4d7fa;
    color: #1f2937;
}


tbody tr:hover {
    background-color: #f1f5f9;
}

th {
    font-size: 16px;
}

td {
    font-size: 14px;
}

.bgcolor {
    background-color: #d4d7fa;
}


.footer {
    background-color: #6b8fcf;
    color: white;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
   
    padding-top: 50px;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-section .section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.thankyou {
    text-align: center;
    margin-top: 20px;
}

.footer-thankyou p {
    margin: 5px 0;
}

.total {
    font-size: 1.5em;
    font-weight: bold;
}

.mail {
    text-decoration: none;
    color: white;
    cursor: pointer;
}



/* Media Queries */
@media (min-width: 769px) and (max-width: 992px) {
    .reciept-container {
        width: 100%;
    }

    .brand-address {
        text-align: left;
    }

    .footer{
        width: auto;
    }
    
}

@media (min-width: 575px) and (max-width: 768px) {

    .reciept-container{
        width: 100%;
    }
    .reciept-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-heading {
        margin-top: 10px;
        text-align: center;
    }

    .brand-address {
        text-align: left;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .footer{
        width: auto;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-section {
        width: 100%;
        text-align: left;
        padding-left: 20px;
        }

    .section-title{
        padding-top: 20px;
        
    }
}

@media (min-width: 479px) and (max-width: 576px) {

    .reciept-container{
        width: 100%;
    }
    .reciept-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-address{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }

    .brand-heading {
        font-size: 24px;
    }

    .dte {
        font-size: 12px;
    }

    table, th, td {
        font-size: 12px;
        padding: 8px;
    }

    .footer{
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-section {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .thankyou {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {

    .reciept-container{
        width: 100%;
    }

    .brand-heading {
        font-size: 20px;
    }

    .brand-address{
        display: flex;
        flex-direction: row;
    }

    .dte {
        font-size: 10px;
    }

    table, th, td {
        font-size: 10px;
        padding: 5px;
    }

    .footer{
        width: 100%;
    }

    .footer-section .section-title {
        font-size: 14px;
    }
}